<body>
    <div>
        <p>Your overall GPA is: <input class="form-control" type="text"></p>
    </div>
    <p>
        Your grade in the previous course Server Side or Data Structures was: <input class="form-control" type="text"><br>
        [Letter grades automatically converted to numbers (A = 4.0)]
    </p>
    <p>Please check the times that you are busy <b>and</b> unavailable for group work:<p>
        <div class="col-md-8"></div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>
                            Make Busy
                        </th>
                        <th>
                            <input class="btn btn-default" type="button" value="Mon">
                        </th>
                        <th>
                            <input class="btn btn-default" type="button" value="Tue">
                        </th>
                        <th>
                            <input class="btn btn-default" type="button" value="Wed">
                        </th>
                        <th>
                            <input class="btn btn-default" type="button" value="Thu">
                        </th>
                        <th>
                            <input class="btn btn-default" type="button" value="Fri">
                        </th>
                        <th>
                            <input class="btn btn-default" type="button" value="Sat">
                        </th>
                        <th>
                            <input class="btn btn-default" type="button" value="Sun">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input class="btn btn-default" type="button" value="8:00am">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="btn btn-default" type="button" value="9:00am">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="btn btn-default" type="button" value="10:00am">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="btn btn-default" type="button" value="11:00am">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="btn btn-default" type="button" value="12:00pm">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="btn btn-default" type="button" value="1:00pm">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="btn btn-default" type="button" value="2:00pm">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="btn btn-default" type="button" value="3:00pm">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="btn btn-default" type="button" value="4:00pm">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="btn btn-default" type="button" value="5:00pm">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="btn btn-default" type="button" value="6:00pm">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="btn btn-default" type="button" value="7:00pm">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="btn btn-default" type="button" value="8:00pm">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="btn btn-default" type="button" value="9:00pm">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox100">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    <p>How willing are you to participate in team activities on the weekend?</p>
    <form action="">
        <input type="radio" name="availability" value="none"> I have no time for team activities during the weekend<br>
        <input type="radio" name="availability" value="some"> I would prefer to avoid working with my team during the weekend<br>
        <input type="radio" name="availability" value="most"> The weekend is as good as any other time<br>
        <input type="radio" name="availability" value="all"> Weekends are the best time for me to meet with my team
    </form>
